<%= stylesheet_link_tag "user/user_home_#{locale}" %>
<%= javascript_include_tag 'user/user_home' %>

<div id="user_home_menu">
	<div id="my_messages" class="user_home_func"><span id="my_messages_text_wrap"><%= t('views.user_home.My_messages') %></span></div>		
	<div id="my_follows" class="user_home_func"><%= t('views.user_home.My_follows') %></div>		
	<div id="my_hopes" class="user_home_func"><%= t('views.user_home.My_hopes') %></div>
	<div id="my_comments" class="user_home_func"><%= t('views.user_home.My_comments') %></div>	
</div>